[submodule "contract.ont.dungeon"]
	path = contract.ont.dungeon
	url = git@github.com:general7games/contract.ont.dungeon.git
[submodule "ns.ont.dungeon"]
	path = ns.ont.dungeon
	url = git@github.com:general7games/ns.ont.dungeon.git
[submodule "admin.ont.dungeon"]
	path = admin.ont.dungeon
	url = git@github.com:general7games/admin.ont.dungeon.git
[submodule "game.ont.dungeon"]
	path = game.ont.dungeon
	url = git@github.com:general7games/game.ont.dungeon.git
